#alertbg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;left: 0;
}
.alertwrapper {
    background-color: #fff;
    min-width: 310px;
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.46);
    padding: 16px;
    text-align: center;
}
.alertwrapper #alertheader {
    margin-bottom: 8px;
    font-size: 30px;
}
.alertwrapper #alerttext {
    margin-bottom: 16px;
    font-size: 20px;
}
.alertwrapper button {
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    background-color: #f85c5c;
    color: #fff;
    font-size: 16px;
}
.alertwrapper button:hover {
    filter: brightness(0.95);
}
.alertwrapper button.success {
    background-color: #6ac159;
}